{% extends 'base.html'  %}
{% load bootstrap4 %}
{% load static %}
{%block %}
{% if user.is_authenticated %}
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content" style="font-family: 'Montserrat', sans-serif; font-size: 30px;">
        <a href="{% url 'myProfile'%}">Profile</a>
        <a href="{% url 'blog'%}">Blog</a>
        <a href="{% url 'blog'%}">Bussiness</a>
        <a href="{% url 'health'%}">Health</a>
    </div>

</div>

{% else %}
<li>
  <a class='btn btn-default' href="/accounts/login">Login</a>
</li>

{% endif %}
<span style="font-size:30px;cursor:pointer" onclick="openNav()"><img
        src="{% static 'images/menu-button-of-three-horizontal-lines.png' %}"></span>


<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }
    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }
</script>
{% endblock %}